@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
* {
  box-sizing: border-box;
  outline: none;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #282c34;
  font-size: 15px;
}

ul {
  padding: 0;
}
li {
  list-style-type: none;
  margin: 0;
  display: inline-block;
}
td {

}
tr.tags-list {
  border: 1px solid #282c34;
}
